
body {
    
    font-family: arial, sans-serif;
    /* background-color: #F2DDA4 !important; */
    font-size: 0.75em;
  }
  
  .small {
    background-color: #A3C4BC;
    padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
    
    
  }
  
  .medium {
    background-color: #BFD7B5;
    padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
  }
  
  .large {
    background-color: #E7EFC5;
    padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
    flex : 2;
  }
  
  .specials div {
    flex: 1;
    margin: 1em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
    border-radius: 5em;

  }
  
  .medium img {
    width: 5em;
    border-radius: 5em;

  }
  
  
  .large img {
    width: 7em;
    border-radius: 5em;

    
  }
  
  
  nav{
    background-color: #26232a; 
    color: white;
  }
  
  .footer {
    display: flex;
    color: white;
  }
  
  .footer div {
    flex: 1;
    /* margin-top: 1em; */
    padding: 0.15em;
    background-color: #26232a;
  }
  
  
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }
    
    body {
      font-size: 1em;
    }
    
  }
  
  
  