@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
  font-family: arial, sans-serif;
  /* background-color: #F2DDA4 !important; */
  font-size: 0.75em;
}

.small {
  background-color: #A3C4BC;
  padding: 1em;
  margin: auto;
  width: 80%;
  border-radius: 1em;


}

nav {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(193, 212, 193);
  margin-bottom: 7px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  font-family: 'Sacramento', cursive;
  
}

.medium {
  background-color: #BFD7B5;
  padding: 1em;
  margin: auto;
  width: 80%;
  border-radius: 1em;
}

.large {
  background-color: #E7EFC5;
  padding: 1em;
  margin: auto;
  width: 80%;
  border-radius: 1em;
  flex: 2;
}

.specials div {
  flex: 1;
  margin: 3em;
  padding: 1em;
  text-align: center;

}

.small img {
  width: 4em;
  border-radius: 5em;

}

.medium img {
  width: 5em;
  border-radius: 5em;

}


.large img {
  width: 7em;
  border-radius: 5em;


}

.cart {
  background-color: #f7f7f7;
  /* width: 20em; */
  border-radius: 0.50em;
  padding: 0.23em;
  cursor: pointer;
  float: right;
  text-align: center;

  position: fixed;
  /* width: 100%; */
  /* margin: auto; */
  /* width: 20%; */
  /* min-height: 15em; */
  top: 0em;
  right: 0em;
  margin-right: 1em;
  padding: 1em;
  /* border: 0.1em solid; */
  /* border-radius: 0.25em; */
  /* z-index: 1000; */

}

.heading {
  color: rgb(168, 195, 168);
 font-size: 4.1em;
  letter-spacing: 0.1em;
  text-align: center;
}

.footer {
  display: flex;
  border-style: solid;
  border-top: 2px solid rgb(193, 212, 193);
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.footer div {
  flex: 1;
  /* margin-top: 1em; */
  padding: 0.15em;
  background-color: #f7f7f7;
}

@media (min-width: 768px) {

  .specials {
    display: flex;
  }

  body {
    font-size: 1em;
  }

}